@namespace ExArbete.Shared.Components
@using ExArbete.Models
@using ExArbete.Interfaces
@using Google.Cloud.Firestore
@inject IPostService postService
@inject IUserService userService
@inject FirestoreDb firestoreDb

@if (showModal)
{
    <Modal OnClose="@CloseModal" OnConfirm="@(async () => await DeletePost())"
    ModalText="This will delete the post and all of its replies" ModalTitle="Warning!"></Modal>
}

<div class="post-container @flexMe">
    <div class="post-title">
        <div class="user-card">
            <div class="profile-image">
                <img src="@userInfo?.ProfileImage" referrerpolicy="no-referrer">
            </div>
            <p class="detail-text">@userInfo?.Username</p>
        </div>
        <div class="title-column">
            <p class="title-text" @onclick="ExpandPost">@PostData?.Title</p>
        </div>
        <div class="detail-card">
            <p class="detail-text">@PostData?.CreatedAt.ToDateTime().ToLocalTime().ToShortDateString()
                @PostData?.CreatedAt.ToDateTime().ToLocalTime().ToShortTimeString()</p>
            <div class="expandable">
                <p class="detail-text">@PostData?.SubPosts?.Count replies</p>
                <i class="bi @ArrowCss arrow-size" @onclick="ExpandPost"></i>
            </div>
            <div class="expandable">
                @if (PostData?.CreatedBy == userService.User?.Id)
                {
                    <span class="bi bi-trash3 arrow-size" @onclick="@ShowModal"></span>
                }
                <span class="bi @replyArrow arrow-size" @onclick="ShowForm"></span>
            </div>
        </div>

    </div>

    <div class="expanded-card @Collapse">


        <p class="content-text mb-1">@PostData?.Content</p>
        <div class="form-row mb-4">
            <span class="bi @ThumbCss arrow-size" @onclick="@(async () => await OnLikePost())"></span>
            <p class="detail-text like-container">@(PostData?.Likes?.Count() ?? 0)</p>
        </div>
        @if (showForm)
        {
            <div>
                <EditForm class="form-column" EditContext=@editContext OnValidSubmit=@SubmitPost>
                    <DataAnnotationsValidator />
                    <div class="form-row">
                        <InputAreaOnChange @bind-Value="newSubPost.Content" class="form-control" rows="2"
                        placeholder="Feel free to reply"></InputAreaOnChange>
                        <button type="submit" class="btn btn-secondary btn-sm submit-button">Submit</button>
                    </div>
                    <ValidationSummary />
                </EditForm>

            </div>
        }
        @if (PostData?.SubPosts != null)
        {
            @foreach (RenderFragment replyCard in RenderReply(PostData)!)
            {
                @replyCard
            }
        }
    </div>



</div>

@code {
    [Parameter]
    [EditorRequired]
    public Post? PostData { get; set; }
    private IUser? userInfo = new UserInfo();
    private SubPost newSubPost = new();
    private EditContext? editContext;
    private bool expanded = false;
    private bool showForm = false;
    private bool showModal = false;
    private string Collapse => expanded ? "" : "collapse";
    private string ArrowCss => expanded ? "bi-caret-down-fill" : "bi-caret-up";
    private string replyArrow => showForm ? "bi-reply-fill" : "bi-reply";
    private string flexMe => expanded ? "flex" : "";
    private string ThumbCss => PostData?.Likes?.Find(l => l == userService?.User?.Id)?.Count() > 0 ?
    "bi-hand-thumbs-up-fill" : "bi-hand-thumbs-up";
    protected override void OnInitialized()
    {
        editContext = new(newSubPost);
    }
    protected override async Task OnParametersSetAsync()
    {
        userInfo = await postService.GetUserInfo(PostData?.CreatedBy!, firestoreDb);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            postService.OnPostDataChanged += async (s, e) => await InvokeAsync(() => StateHasChanged());
            await InvokeAsync(() => StateHasChanged());
        }
    }

    private async Task OnLikePost()
    {
        if (PostData?.Likes!.Find(l => l == userService?.User?.Id)?.Count() > 0)
        {
            await postService.UnLikePost(null, PostData?.Id!, userService.User?.Id!, firestoreDb);
        }
        else
        {
            await postService.LikePost(null, PostData?.Id!, userService.User?.Id!, firestoreDb);
        }
    }
    private void ExpandPost()
    {
        expanded = !expanded;
        if (!expanded)
        {
            showForm = false;
        }
    }
    private void ShowForm()
    {
        showForm = !showForm;
        if (showForm)
        {
            expanded = true;
        }
    }
    private async Task SubmitPost()
    {
        newSubPost.Id = Guid.NewGuid().ToString();
        newSubPost.CreatedAt = Timestamp.GetCurrentTimestamp();
        newSubPost.CreatedBy = userService.User?.Id;
        newSubPost.ParentPostId = PostData?.Id;
        newSubPost.Likes = new();
        await postService.PublishPost(PostData?.Id, newSubPost, firestoreDb);
        newSubPost = new();
        editContext = new(newSubPost);
        showForm = false;
    }

    private List<RenderFragment>? RenderReply(IPost mainPost)
    {
        List<RenderFragment> replies = new();
        foreach (SubPost post in PostData?.SubPosts?.Where(p => p.ParentPostId == mainPost.Id)?.OrderBy(p => p.CreatedAt)!)
        {
            replies.Add(
    @<ReplyCard ParentId="@PostData.Id" PostData="@post" Children="@RenderReply(post)"></ReplyCard>
    );
        }
        return replies;
    }

    private async Task DeletePost()
    {
        await postService.DeletePost(PostData?.Id!, firestoreDb);
        showModal = false;
    }

    private void ShowModal()
    {
        showModal = true;
    }

    private void CloseModal()
    {
        showModal = false;
        StateHasChanged();
    }
}